:root {
  --dark-color: #000000;
  --light-color: #f5f5f5;
  --background-color: #171717;
  --shadow-color: #565656;
}

@media only screen and (max-width: 600px) {
  * {
    font-family: "Bowlby One", sans-serif;
    color: var(--light-color);
  }

  body {
    background-color: var(--background-color);
    overflow: hidden;
  }
  h1 {
    text-shadow: 3px 3px 0 var(--shadow-color);
  }
  #p-title-container {
    width: 80%;
    margin: 0 auto;
  }
  #title-container {
    margin-top: 10vh;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: left;
    gap: 0;
  }
  #title-container h1 {
    font-size: 40px;
    color: var(--light-color);
    margin: 0;
    line-height: 1;
  }
  button {
    display: block;
    margin: 400px auto;
    padding: 30px 80px;
    font-size: 30px;
    background-color: var(--light-color);
    color: var(--dark-color);
    box-shadow: 2px 2px 0 var(--light-color);
    border-radius: 20px;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
}
